{% extends 'apps/baseAPP.html' %}
{% block noticias %}
	<h2 style="color: #b0ca63;">FAQ do Sei!</h2>
	<form action="" method="post" enctype="multipart/form-data">		

		{% csrf_token %}

		{% if form.errors %}
      <div class="alert alert-error">
        <h4>Resolva essses problemas</h4>
        <ul>
          {% for field in form %}
            {% if field.errors %}
              {% for error in field.errors %}
                <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}
      </div>
    {% endif %}

    <div class="col-md-9 col-sm-9">
    	<div class="col-md-9 col-sm-9">
    		{{form.titulo.label_tag}}
    		{{form.titulo}}
    	</div>	
    	<div class="col-md-3 col-sm-3">
    		{{form.tags.label_tag}}
    		{{form.tags}}
    	</div>
    	<div class="col-md-12 col-sm-12">
    		{{form.resposta.label_tag}}
    		{{form.resposta}}
        <br>
    	</div>
    	<div class="col-md-12 col-sm-12">
    		<button class="btn btn-success" type="submit">ENVIAR</button>
    	</div>
		</form>
{% endblock %}