<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Half Slider - Start Bootstrap Template</title>

    

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg " style="background-color: #3791c5;">
      <div class="container">
        <!-- <a class="navbar-brand" href="#" style="color: white;">Start Bootstrap</a> -->
        <div class="col-md-12"><img src="/media/css/css-images/logo_decolor1.png" width="300"></div> 
        
      </div>
    </nav>

    <section class="py-5">
      <div class="col-md-3">
        <div class="dropdown">
          <button class="dropbtn btn" style="background-color: #b0ca63;height: 10px; width: 300px; padding-top: 10px;
    padding-bottom: 25px;position: relative;">O SEI ALAGOAS
            <i class="fa fa-caret-down"></i>
          </button>
          
          <div class="dropdown-content" style="width: 250px; z-index: 5; opacity: 0.8;">
            <a href="/historico/" style="color: #3e8e41;">Histórico de Alagoas</a>
            <a href="/lista_documentos/" style="color: #3e8e41;">Guia de Implantação</a>
            <a href="#" style="color: #3e8e41;">Status de Implantação</a>
            <a href="#" style="color: #3e8e41;">Comitês e Unidades Setoriais</a>
            <a href="/InsereHelpDesk/" style="color: #3e8e41;">Atendimento (Helpdesk)</a>
            <a href="/capacitacao/" style="color: #3e8e41;">Capacitação</a>
            <a href="#" style="color: #3e8e41;">Legislação</a>
            <a href="#" style="color: #3e8e41;">Orientações</a>
            <a href="/lista_documentos/" style="color: #3e8e41;">Documentos do Projeto</a>
            <a href="#" style="color: #3e8e41;">Equipe</a>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5">
      <div class="container">
        <h1>Half Slider by Start Bootstrap</h1>
        <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the
          <code>half-slider.css</code>
          file.</p>
      </div>
    </section>
    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h1>Half Slider by Start Bootstrap</h1>
        <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the
          <code>half-slider.css</code>
          file.</p>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5" style="background-color: #3791c5; padding-bottom: 15%!important;">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
