{% extends 'apps/baseAPP.html' %}
{% block noticias %}
<h1 style="color: #b0ca63;">Acesso ao SEI!</h1>
	<div class="col-md-4 col-sm-4"><a href="http://mudarsenha.sei.al.gov.br"><button class="btn">Mudar Senha</button></a></div>
	<div class="col-md-4 col-sm-4"><a href="http://sip.sei.al.gov.br/sip/login.php?sigla_orgao_sistema=AL&sigla_sistema=SEI&infra_url=L3NlaS8="><button class="btn btn-info">Acessar o Sei!</button></a></div>
	<div class="col-md-4 col-sm-4"><a href="http://hmlsip.sei.al.gov.br/sip/login.php?sigla_orgao_sistema=AL&sigla_sistema=SEI&infra_url=L3NlaS8="><button class="btn btn-danger">Ambiente de Treinamento</button></a></div>
{% endblock %}