<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<title>Intranet Agência Alagoas - Governo do Estado de Alagoas</title>

<link rel="stylesheet" type="text/css" href="css/base.css" media="all">
<link rel="stylesheet" type="text/css" href="css/elementos.css" media="all">
<link rel="stylesheet" type="text/css" href="css/site-base.css" media="all">
<link rel="stylesheet" type="text/css" href="css/responsividade.css" media="all">

<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.slides.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$("#menu-mobile").click(function() {
		$( "#busca" ).hide();
		$( "#envolve-menus" ).toggle();
	});
	
	$("#busca-mobile").click(function() {
		$("#envolve-menus").hide();
		$( "#busca" ).toggle();
	});
});

$(function() {
	$("#noticias-rotativas").slidesjs({
		height: 708,
		navigation: {active: false},
		play: {effect: "slide", interval: 5000, auto: true, pauseOnHover: true},
		effect: {slide: {speed: 1000}}
	});
	
	$("#mais-noticias").slidesjs({
		height: 215,
		play: {effect: "slide"},
		effect: {slide: {speed: 1000}},
		pagination: {active: false}
	});
	
	$("#banner-capa").slidesjs({
		height: 100,
		navigation: {active: false},
		play: {effect: "slide", interval: 5000, auto: true, pauseOnHover: true},
		effect: {slide: {speed: 1000}},
		pagination: {active: true}
	});

});
</script>

</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3&appId=465486936800543";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="global">
	<header>
		<div id="topo">
			<div id="topo-conteudo" class="row row-no-bottom">
				<div id="envolve-logo" class="col-3">
					<a id="logo" href="#">Agência Alagoas</a>
				</div>
				<div id="envolve-titulo-site" class="col-6">
					<div id="titulo-site">
						<h2>Intranet Agência Alagoas</h2>
						<h5>Governo do Estado de Alagoas</h5>
					</div>
				</div>
				<div id="envolve-busca" class="col-3">
					<div id="menus-mobile" class="row">
						<a id="menu-mobile"></a>
						<a id="busca-mobile"></a>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<main>

		<style>
			#manutencao {
				margin-top: 80px;
				text-align: center;
			}
			
			#manutencao a {
				padding-top: 70px;
				display: inline-block;
				font-size: 18px;
			}
			
			#manutencao h1 {
				margin-bottom: 50px;
			}
		</style>
		<div id="manutencao" class="row">
	        <h1>Estamos em Manutenção</h1>
			<div class="col-4">
            	<a href="http://twitter.com/GovernoAlagoas" target="_blank" style="color: #55ACEE; background: url(css/css-images/intranet-twitter.png) no-repeat top center">
					Twitter
				</a>
			</div>
            <div class="col-4">
				<a href="http://www.facebook.com/GovernoAlagoas/" target="_blank" style="color: #416BC4; background: url(css/css-images/intranet-facebook.png) no-repeat top center">
					Facebook
				</a>
			</div>
            <div class="col-4">
				<a href="http://www.instagram.com/governodealagoas/" target="_blank" style="color: #333; background: url(css/css-images/intranet-instagram.png) no-repeat top center">
					Instagram
				</a>
			</div>
		</div>

	</main>
</div>

<footer>
	<div id="footer-conteudo">
		<div class="row">
			<div id="footer-info" class="col-6">
				<a id="footer-logo" href="#">
					<h3>Agência Alagoas</h3><br />
					<h5>Governo do Estado de Alagoas</h5>
				</a>
				<div id="telefone">
					<h3>(82) 3315.3615 | (82) 3315.3620</h3>
				</div>
				<address>
					Rua Cincinato Pinto, 193<br />
					Centro<br />
					Maceió-Alagoas
				</address>
			</div>
		</div>
	</div>
</footer>
<div id="assinatura">
	<div id="assinatura-conteudo" class="row row-no-bottom">
		<div class="col-12">
			<span id="copyright">Governo do Estado de Alagoas © - 2015</span>
			<a id="itec-footer" href="http://www.itec.al.gov.br"></a>
		</div>
	</div>
</div>

</body>
</html>
