{% extends 'apps/baseAPP.html' %}
{% block noticias %}
<div class="col-md-12 col-sm-12"><a href="http://centraldeservicos.itec.al.gov.br">Solicitar Auxílio à Central de Serviços</a></div>
<div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
	<div class="col-md-10 col-sm-10 col-xs-10 center-block">
		<div class="alert alert-success">
  		<strong>Lista</strong> com relação dos <small class="alert-link">FAQ no Portal Sei!</small>
		</div>

	  <ul class="col-md-12">
	    {% for i in lista %}
	        <li class="list-group-item"><a href="/itemFAQ/{{i.id}}" style="font-weight: bold; text-decoration: none;">{{ i.titulo }}</a> <small>{{i.data_realizacao}}</small> <span class="badge"><a href="/EditaFAQ/{{ i.id }}/" style="color: white; text-decoration: none;"> Editar</a><a href="/EditaFAQ/{{i.id}}" style="color: #b0ca63; text-decoration: none;"> Excluir</a></span></li>
	      {% empty %}
	        <div class="row fontawesome-icon-list">
	          <div class="fa-hover col-md-12 col-sm-12 col-xs-12"><a href="/InsereCapacitacao/"><i class="fa fa-info-circle"></i> Sem Registro</a></div>
	        </div>
	    {% endfor %}
	  </ul>
	</div>

	<div class="col-sm-12 center">
	{% if lista.has_other_pages %}
	  <ul class="pagination">
	    {% if lista.has_previous %}
	      <li><a href="?page={{ lista.previous_page_number }}">&laquo;</a></li>
	    	{% else %}
	      	<li class="disabled"><span>&laquo;</span></li>
	    {% endif %}
	    {% for i in lista.paginator.page_range %}
	      {% if lista.number == i %}
	        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	        {% else %}
	          <li><a href="?page={{ i }}">{{ i }}</a></li>
	      {% endif %}
	    {% endfor %}
	    {% if lista.has_next %}
	      <li><a href="?page={{ lista.next_page_number }}">&raquo;</a></li>
	      {% else %}
	       	<li class="disabled"><span>&raquo;</span></li>
	    {% endif %}
	  </ul>
	{% endif %}
</div>
</div>
	    

{% endblock %}