<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<title>Áudios - Agência Alagoas</title>

<link rel="stylesheet" type="text/css" href="css/base.css" media="all">
<link rel="stylesheet" type="text/css" href="css/elementos.css" media="all">
<link rel="stylesheet" type="text/css" href="css/site-base.css" media="all">
<link rel="stylesheet" type="text/css" href="css/responsividade.css" media="all">

<script src="js/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$("#menu-mobile").click(function() {
		$( "#busca" ).hide();
		$( "#envolve-menus" ).toggle();
	});
	
	$("#busca-mobile").click(function() {
		$("#envolve-menus").hide();
		$( "#busca" ).toggle();
	});
});

</script>

</head>

<body>

<div id="global">
	<header>
		<div id="topo">
			<div id="topo-conteudo" class="row row-no-bottom">
				<div id="envolve-logo" class="col-3">
					<a id="logo" href="#">Agência Alagoas</a>
				</div>
				<div id="envolve-titulo-site" class="col-6">
					<div id="titulo-site">
						<h2>Agência Alagoas</h2>
						<h5>Governo do Estado de Alagoas</h5>
					</div>
				</div>
				<div id="envolve-busca" class="col-3">
					<div id="menus-mobile" class="row">
						<a id="menu-mobile"></a>
						<a id="busca-mobile"></a>
					</div>
					<div id="busca">
						<form name="form1" method="post" action="">
							<input id="botao-buscar" name="textfield" type="submit" class="form-control" value="">
							<input id="buscar" name="textfield" type="text" class="form-control" placeholder="Buscar">
						</form>
				  	</div>
				</div>
			</div>
		</div>
		
		<div id="envolve-menus" class="row">
			<nav class="row row-no-bottom">
				<div class="col-12">
					<div id="nav-superior" class="col-12 col-no-left-right">
	
						<div id="menu-superior" class="col-10 col-no-left">
							<ul>
								<li><a href="#">Início</a></li>
								<li><a href="#">Institucional</a></li>
								<li><a href="#">Agenda</a></li>
								<li><a href="#">Fotos</a></li>
								<li><a href="#">Vídeos</a></li>
								<li><a href="#">Áudios</a></li>
								<li><a href="#">Contato</a></li>
								<li><a href="#">Acesso à Informação</a></li>
							</ul>
						</div>
						<div id="menu-redes-sociais" class="col-2 col-no-right">
							<ul>
								<li><a id="social-youtube" href="#">Youtube</a></li>
								<li><a id="social-twitter" href="#">Twitter</a></li>
								<li><a id="social-facebook" href="#">Facebook</a></li>
							</ul>
						</div>
						
					</div>
				</div>
			</nav>
			
			<nav class="row row-no-bottom">
				<div id="menu-inferior" class="col-12">
					<ul>
						<li id="menu-item-noticias" class="dropmenu dropmenu-bg">
							<a href="#">Notícias<div class="seta-baixo"></div></a>
							<ul class="submenu">
								<li><a href="#">Ação Social</a></li>
								<li><a href="#">Cultura</a></li>
								<li><a href="#">Economia</a></li>
								<li><a href="#">Educação</a></li>
								<li><a href="#">Emprego</a></li>
								<li><a href="#">Esporte e Lazer</a></li>
								<li><a href="#">Infraestrutura</a></li>
								<li><a href="#">Inovação</a></li>
								<li><a href="#">Justiça</a></li>
								<li><a href="#">Meio Ambiente</a></li>
								<li><a href="#">Saúde</a></li>
								<li><a href="#">Segurança</a></li>
								<li><a href="#">Serviços</a></li>
								<li><a href="#">Turismo</a></li>
							</ul>
						</li>
						<li><a href="#">Secretarias</a></li>
						<li><a href="#">Assessorias</a></li>
						<li><a href="#">Diário Oficial</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	
	<main>
	
		<div id="breadcrumb" class="row">
			<div class="col-12">
				<h6>Você está aqui: <a href="#">Início</a> / Áudios</h6>
			</div>
		</div>

		<div class="row">
			<div class="lista col-8">
				<h1>Áudios</h1>
				
				<ul class="lista-secao list-no-style">
					<li>
						<div class="row row-sm">
							<h6 class="titulo-muted">25/03/2015</h6>
							<div class="col-4 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-8 col-no-left-right">
								<h2>
									<a href="#" class="link-audios">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h2>
								<h5 class="titulo-muted">Pellentesque interdum vestibulum turpis, vel pulvinar turpis pharetra eget.</h5>
							</div>
						</div>
					</li>
					<li>
						<div class="row row-sm">
							<h6 class="titulo-muted">25/03/2015</h6>
							<div class="col-4 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-8 col-no-left-right">
								<h2>
									<a href="#" class="link-audios">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h2>
								<h5 class="titulo-muted">Pellentesque interdum vestibulum turpis, vel pulvinar turpis pharetra eget.</h5>
							</div>
						</div>
					</li>
					<li>
						<div class="row row-sm">
							<h6 class="titulo-muted">25/03/2015</h6>
							<div class="col-4 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-8 col-no-left-right">
								<h2>
									<a href="#" class="link-audios">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h2>
								<h5 class="titulo-muted">Pellentesque interdum vestibulum turpis, vel pulvinar turpis pharetra eget.</h5>
							</div>
						</div>
					</li>
					<li>
						<div class="row row-sm">
							<h6 class="titulo-muted">25/03/2015</h6>
							<div class="col-4 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-8 col-no-left-right">
								<h2>
									<a href="#" class="link-audios">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h2>
								<h5 class="titulo-muted">Pellentesque interdum vestibulum turpis, vel pulvinar turpis pharetra eget.</h5>
							</div>
						</div>
					</li>
					<li>
						<div class="row row-sm">
							<h6 class="titulo-muted">25/03/2015</h6>
							<div class="col-4 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-8 col-no-left-right">
								<h2>
									<a href="#" class="link-audios">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h2>
								<h5 class="titulo-muted">Pellentesque interdum vestibulum turpis, vel pulvinar turpis pharetra eget.</h5>
							</div>
						</div>
					</li>
					<li>
						<div class="row row-sm">
							<h6 class="titulo-muted">25/03/2015</h6>
							<div class="col-4 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-8 col-no-left-right">
								<h2>
									<a href="#" class="link-audios">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h2>
								<h5 class="titulo-muted">Pellentesque interdum vestibulum turpis, vel pulvinar turpis pharetra eget.</h5>
							</div>
						</div>
					</li>
					<li>
						<div class="row row-sm">
							<h6 class="titulo-muted">25/03/2015</h6>
							<div class="col-4 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-8 col-no-left-right">
								<h2>
									<a href="#" class="link-audios">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h2>
								<h5 class="titulo-muted">Pellentesque interdum vestibulum turpis, vel pulvinar turpis pharetra eget.</h5>
							</div>
						</div>
					</li>
					<li>
						<div class="row row-sm">
							<h6 class="titulo-muted">25/03/2015</h6>
							<div class="col-4 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-8 col-no-left-right">
								<h2>
									<a href="#" class="link-audios">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h2>
								<h5 class="titulo-muted">Pellentesque interdum vestibulum turpis, vel pulvinar turpis pharetra eget.</h5>
							</div>
						</div>
					</li>
					<li>
						<div class="row row-sm">
							<h6 class="titulo-muted">25/03/2015</h6>
							<div class="col-4 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-8 col-no-left-right">
								<h2>
									<a href="#" class="link-audios">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h2>
								<h5 class="titulo-muted">Pellentesque interdum vestibulum turpis, vel pulvinar turpis pharetra eget.</h5>
							</div>
						</div>
					</li>
					<li>
						<div class="row row-sm">
							<h6 class="titulo-muted">25/03/2015</h6>
							<div class="col-4 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-8 col-no-left-right">
								<h2>
									<a href="#" class="link-audios">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h2>
								<h5 class="titulo-muted">Pellentesque interdum vestibulum turpis, vel pulvinar turpis pharetra eget.</h5>
							</div>
						</div>
					</li>
				</ul>
				<div class="paginacao row row-no-bottom">
					<div class="col-12">
						<ul class="list-no-style">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><span>5</span></li>
							<li><a href="#">6</a></li>
							<li><a href="#">7</a></li>
						</ul>
					</div>
					<div class="col-6 paginacao-tras">
						<a href="#">Primeira</a><a href="#">Anterior</a>
					</div>
					<div class="col-6 paginacao-frente">
						<a href="#">Próxima</a><a href="#">Última</a>
					</div>
				</div>
			</div>

			<div id="lateral" class="col-4">
				<h2 class="titulo"><a class="link-no-underline" href="#">Notícias</a></h2>
				<ul id="lateral-noticias" class="list-no-style">
					<li>
						<a class="link-imagem" href="#">
							<img src="imagens/imagem-lateral.jpg">
						</a>
						<h6 class="lead-sm">Assistência Obstétrica</h6>
						<h4>
							<a href="#">Saúde sensibiliza maternidades a aderirem à Iniciativa Hospital Amigo da Criança</a>
						</h4>
					</li>
					<li>
						<h6 class="lead-sm">Casas</h6>
						<h5>
							<a href="#">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
						</h5>
					</li>
					<li>
						<h6 class="lead-sm">Casas</h6>
						<h5>
							<a href="#">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
						</h5>
					</li>
				</ul>
				<div class="col-12 col-no-left-right ver-mais">
					<a class="destaque" href="#">Mais Notícias</a>
				</div>
			
				<h2 class="titulo"><a class="link-no-underline-videos link-videos" href="#">Vídeos</a></h2>
				<ul id="lateral-videos" class="list-no-style">
					<li>
						<a class="link-imagem" href="#">
							<img src="imagens/imagem-lateral.jpg" />
						</a>
						<h4>
							<a class="link-videos" href="#">Governador assina ordem de serviço para construir 608 casas</a>
						</h4>
					</li>
					<li>
						<div class="row row-no-bottom">
							<div class="col-6 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-6 col-no-left-right">
								<h5>
									<a class="link-videos" href="#">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h5>
							</div>
						</div>
					</li>
					<li>
						<div class="row row-no-bottom">
							<div class="col-6 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-6 col-no-left-right">
								<h5>
									<a class="link-videos" href="#">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h5>
							</div>
						</div>
					</li>
				</ul>
				<div class="col-12 col-no-left-right ver-mais">
					<a class="destaque link-videos" href="#">Mais Vídeos</a>
				</div>
				
				<h2 class="titulo"><a class="link-no-underline-fotos link-fotos" href="#">Fotos</a></h2>
				<ul id="lateral-fotos" class="list-no-style">
					<li>
						<a class="link-imagem" href="#">
							<img src="imagens/imagem-lateral.jpg" />
						</a>
						<h4>
							<a class="link-fotos" href="#">Governador assina ordem de serviço para construir 608 casas</a>
						</h4>
					</li>
					<li>
						<div class="row row-no-bottom">
							<div class="col-6 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-6 col-no-left-right">
								<h5>
									<a class="link-fotos" href="#">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h5>
							</div>
						</div>
					</li>
					<li>
						<div class="row row-no-bottom">
							<div class="col-6 col-no-left">
								<a class="link-imagem" href="#"><img src="imagens/imagem-capa.jpg"></a>
							</div>
							<div class="col-6 col-no-left-right">
								<h5>
									<a class="link-fotos" href="#">Governo do Estado anuncia a entrega de 219 novas unidades habitacionais</a>
								</h5>
							</div>
						</div>
					</li>
				</ul>
				<div class="col-12 col-no-left-right ver-mais">
					<a class="destaque link-fotos" href="#">Mais Fotos</a>
				</div>
				
			</div>
		</div>

	</main>
</div>

<footer>
	<div id="footer-conteudo">
		<div class="row">
			<div id="footer-info" class="col-6">
				<a id="footer-logo" href="#">
					<h3>Agência Alagoas</h3><br />
					<h5>Governo do Estado de Alagoas</h5>
				</a>
				<div id="telefone">
					<h3>(82) 3315.3615 | (82) 3315.3620</h3>
				</div>
				<address>
					Rua Cincinato Pinto, 193<br />
					Centro<br />
					Maceió-Alagoas
				</address>
			</div>
			<div class="col-3">
				<ul class="footer-menu">
					<li><a href="#">Início</a></li>
					<li><a href="#">Institucional</a></li>
					<li><a href="#">Fotos</a></li>
					<li><a href="#">Vídeos</a></li>
					<li><a href="#">Áudios</a></li>
					<li><a href="#">Arquivos</a></li>
					<li><a href="#">Contato</a></li>
					<li><a href="#">Acesso à Informação</a></li>
				</ul>
			</div>
			<div class="col-3">
				<ul class="footer-menu">
					<li><a href="#">Notícias</a></li>
					<li><a href="#">Secretarias</a></li>
					<li><a href="#">Assessoria</a></li>
					<li><a href="#">Notas</a></li>
					<li><a href="#">Diário Oficial</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<div id="assinatura">
	<div id="assinatura-conteudo" class="row row-no-bottom">
		<div class="col-12">
			<span id="copyright">Governo do Estado de Alagoas © - 2015</span>
			<a id="itec-footer" href="http://www.itec.al.gov.br"></a>
		</div>
	</div>
</div>

</body>
</html>
