<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta charset="utf-8">
  
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default" >
		  <div class="container-fluid" style="margin-bottom: 1%;">
		    <div class="navbar-header" style="padding-left: 20%; ">
		      <a class="navbar-brand" href="#"><img src="/media/imagens/logomarcaSEI.png" style="margin-left: -50%;"></a>
		    </div>
		    <ul class="nav navbar-nav" style="font: normal normal normal 13px/1.2em raleway,sans-serif;
			    font-family: raleway,sans-serif;
			    font-style: normal;
			    font-weight: normal;
			    font-size: 13px;
			    line-height: 1.2em;
			    font-size-adjust: none;
			    font-stretch: normal;
			    -x-system-font: none;
			    font-feature-settings: normal;
			    font-language-override: normal;
			    font-kerning: auto;
			    font-synthesis: weight style;
			    font-variant-alternates: normal;
			    font-variant-caps: normal;
			    font-variant-east-asian: normal;
			    font-variant-ligatures: normal;
			    font-variant-numeric: normal;
			    font-variant-position: normal; 
			    margin-right: 30%; margin-top: 2%;">
		      <li class="active"><a href="#">INÍCIO</a></li>
		      <li><a href="#">AMBIENTE DE TREINAMENTO</a></li>
		      <li><a href="http://seplag.al.gov.br/sei-alagoas">SOBRE O SEI</a></li>
		      <li><a href="#">CONTATO</a></li>
		    </ul>
		  </div>
		</nav>
		<div class="col-md-12">
			<img src="/media/imagens/LOGO2sei.png" style="width: 759px;height: 240px;object-fit: cover;margin-left: 15%; margin-top: 7%;">
			<img src="/media/imagens_portal/traco-azul.png" style="width: 100%">
		</div>
		<div class="col-md-12 col-sm-12 col-lg-11" style="margin-left: 3%;">
			<div class="col-md-2">
				<img src="/media/imagens/acessoSei.png">
			</div>
			<div class="col-md-2">
				<img src="/media/imagens/documentosSei.png">
			</div>
			<div class="col-md-2">
				<img src="/media/imagens/apoioSei.png">
			</div>
			<div class="col-md-2">
				<img src="/media/imagens/capacitacaoSei.png">
			</div>
			<div class="col-md-2">
				<img src="/media/imagens/consultaSei.png">
			</div>
			<div class="col-md-2">
				<img src="/media/imagens/perguntaSei.png">
			</div>
		</div>
		<div class="row">
			<div  style="margin-top: 20%; margin-left: 10%;">
				<iframe width="360" height="215" src="https://www.youtube.com/embed/videoseries?list=PLx0sYbCqOb8TBPRdmBHs5Iftvv9TPboYG" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				
			 </div>
			<span style="margin-left: 35%;">+ Vídeos
			</span>
		</div>
		<div class="row">
			<nav class="navbar navbar-default" style="width: 42%; margin-top:-19%; margin-left: 50%; background-color: #3493E3" >
				<h4 style="margin-left: 5%; margin-top: 3% ;color: white;">Notícias</h4>						
			</nav>
			<div style="z-index: 2;margin-left: 50%; max-width: 45%">
				{% for i in noticias %}
					<small>{{i.data_publicacao}}</small>
					<h2>{{i.titulo}}</h2>
						<p>{{i.nota | safe | slice:"0:100"}}</p>
						<br />
						<a href="#">Leia Mais</a>
						<br />
				{% endfor %}
			</div>
			<div style="margin-left: 10%;margin-top: -13%;">
				<img src="/media/imagens/pesquisa_processual.png" "><a style="text-decoration: none; font-size: 24; color: rgb(83, 81, 81); margin-left: 2%;">Pesquisa Processual</a>
			</div> 
			<div style="margin-left: 10%;margin-top: 2%;">
				<img src="/media/imagens/usuario_externo.png" ><a style="text-decoration: none; font-size: 24; color: rgb(83, 81, 81); margin-left: 2%;">Pesquisa Processual</a>
			</div> 
		</div>
		<div class="row">
			<nav class="navbar navbar-default" style="background-color: #3493E3" >
				<h4 style="margin-left: 5%; margin-top: 3% ;color: white;"></h4>						
			</nav>
		</div>
	</body>
</html>