{%extends 'apps/baseAPP.html'%}
{%block noticias%} 
	<h2>Capacitação</h2>
	<p>
		O ciclo de capacitações de servidores municipais para uso do SEI ocorrem desde o dia 19 de dezembro de 2017, iniciado pela Secretaria de Estado de Planejamento, gestão e Patrimônio (SEPLAG). O sistema que permitirá que a tramitação dos processos administrativos da Prefeitura ocorra integralmente em meio eletrônico, assegurando mais agilidade, economia e segurança.
	</p>
	<h3>PÚBLICO ALVO</h3>
	<p>
		Devem participar das capacitações, realizadas na Escola de Governo de Alagoas (EGAL), servidores envolvidos diretamente na autuação de processos, elaboração e assinatura de documentos, indicados pelos chefes de gabinete ou pelos pontos focais na unidade durante a implantação do Processo Eletrônico. As inscrições devem ser realizadas por meio das unidades de valorização de pessoas  (VP) de cada unidade.

		Ao concluir a capacitação, o servidor receberá um certificado e terá o seu login cadastrado para acessar o SEI. O sistema também dispõe de um ambiente para que o servidor capacitado realize testes e dê continuidade ao aprendizado de uso do sistema. Os documentos gerados neste ambiente não tem valor legal, e ele estará disponível somente para os servidores que realizaram a capacitação.	
	</p>
	<h3>CURSOS</h3>
	<p>
		A EGAL oferece cursos presenciais, divididos em 03 modalidades: O Módulo I, com 2 h30min carga horária, Módulo II (2 h30min) e Módulo Intensivo (5 horas).
	Para verificar as próximas turmas presenciais e realizar sua inscrição acesse o site: http://capacitacao.al.gov.br.

	A Escola Nacional de Administração Pública oferece cursos à distância (EAD), com carga horária de 20 horas, com o conteúdo completo das aulas presenciais. As inscrições podem ser realizadas pelo site da ENAP (http://www.enap.gov.br/web/pt-br/
	sobre-curso?p_p_id=enapvisualizardetalhescurso_WAR_enapinformacoescursosportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_r_p_564233524_idCurso=3036).
	</p>
{%endblock%}