{% extends 'base.html' %}
{% block noticias %}
<noticias>
  <div id="topo" class="col-12" style="max-width:100%;">
    <div class="col-2">
      <h3 style="color:white; text-align:center; margin-top:15px; font-size:170%;" >Fique Sabendo!</h3>
    </div>
  </div>
    
    <div class="col-6" style="background-color:white;">
      <br>
      {% for i in noticias %}
        <span style="background-color: #0A1B2A; color:#F4FA58; padding: inherit;"> {{i.categoria_da_noticia}}</span><span style="color:grey;"> {{i.data_publicacao}}</span><h2 ><a href="#" style="text-decoration: none;color:#0A1B2A;">{{i.titulo}}</a></h2>
        <span style="color:grey;"> {{i.nota | slice:"0:255" | safe}} <a href="#" style="text-decoration:none; font-weight: bold;">Continua ...</a></span><br><br>
        {% empty %}
          <h2 class="title">VAZIO!</h2><small>Adicionar notícias<a href="http://127.0.0.1:8000/admin/app_documentos/noticias/add/"> Aqui</a></small>
      {% endfor %}
    </div>
    <div class="col-2"><a href="#" style="text-decoration: none; color: white;"> Ver todas</a></div>
    
  
  <div class="col-6" >
    <h1  style="color:white;font-weight:bold; text-align: center;">Sistema Eletrônico de Informações</h1>
    <p class="col-8" style="color:white; text-align: center; font-size: 16px; position: relative; right: -16%; word-spacing: 8px;
    font-family:Arial, Helvetica, sans-serif;" >Sistema de gestão de processos e documentos eletrônicos, com práticas inovadoras de trabalho, tendo como principais características a libertação do paradigma do papel como suporte físico para
  documentos institucionais e o compartilhamento do conhecimento com atualização a comunicação de novos
eventos em tempo real. </p>
  </div>
</noticias>
{% endblock %}
