{% extends 'apps/baseAPP.html' %}
{% block noticias %}
	<script>
  $( function() {
    var availableTags = [{% for i in tags %} 
    	"{{i}}",
    {%endfor%}];
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#id_tags_lista" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  } );
  </script>

  
	<h2>Notícia</h2>
	<form action="" method="post" enctype="multipart/form-data" novalidate>
		{% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-error">
      <h4>Resolva essses problemas</h4>
      <ul>
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
    </div>
  {% endif %}

      {{ form.non_field_errors }}
      <div class="col-md-12">
      <div class="col-md-10">
        <label for="id_titulo">Título</label><input class="form-control" id="id_titulo" maxlength="300" type="text" name="titulo" required>
      </div>
      <div class="col-md-5">
        <label for="id_categoria_da_noticia">Categoria </label>
        {{form.categoria_da_noticia.label_tag}}
        {{form.categoria_da_noticia}}
      </div>
        
      <div class="col-md-5">
        <label for="id_tags_lista">Tags </label>
        <input id="id_tags_lista" name="tags_lista" size="50" class="form-control tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-editable" required>
      </div>
      <br>  

      <div class="col-md-5">
        <label for="id_destaque">Destaque</label>
        <input name="destaque" type="checkbox" id="id_destaque" required>
        <label for="id_publicado">publicado</label>
        <input name="publicado" type="checkbox" id="id_publicado" required>
      </div>
    

      <div class="container">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Conteúdo</button>
        <div id="demo" class="collapse">
          <div class="row">
            <br />
            {{form.media}}
            {{form.nota}}
          </div>
        </div>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Imagem</button>
        <div id="demo1" class="collapse">
          <div class="row">
            <br />
            {{form.imagem}}
            <div class="col-md-4">
              {{form.credito_midia_imagem.label_tag}}
              {{form.credito_midia_imagem}}
              {{form.legenda_do_imagem.label_tag}}
              {{form.legenda_do_imagem}}
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Mídia</button>
        <div id="demo2" class="collapse">
          <div class="row">
            <br />
            {{form.video}}
            <div class="col-md-4">
              {{form.credito_midia_video.label_tag}}
              {{form.credito_midia_video}}
              {{form.legenda_do_video.label_tag}}
              {{form.legenda_do_video}}
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">Campos Estras</button>
        <div id="demo3" class="collapse">
          <div class="row">
            <br />
            <div class="col-md-4">
              {{form.chapeu.label_tag}}
              {{form.chapeu}}
              {{form.bigode.label_tag}}
              {{form.bigode}}
              {{form.reporter.label_tag}}
              {{form.reporter}}
             </div>
          </div>
        </div>

         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">Anexos</button>
        <div id="demo4" class="collapse">
          <div class="row">
            <br />
            <div class="col-md-4">
              {{form.documentos_complementares.label_tag}}
              {{form.documentos_complementares}}
              
             </div>
          </div>
        </div>

      </div>  
      <br>
      <div class="col-md-12">
        <button type=submit class="btn btn-success">ENVIAR</button>
        <button type=reset class="btn btn-danger">CANCELAR</button>
      </div>  
    </div>	
    </div>
	</form>
	<br>	
{% endblock %}