{% extends 'apps/baseAPP.html' %}
{% block noticias %}
<h2 style="color: #b0ca63;">Lista de Notícias</h2>


<div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
	<div class="col-md-10 col-sm-10 col-xs-10 center-block">
	  <ul class="col-md-12 list-group">
	    {% for i in lista %}
	        
	    <li class="list-group-item"><a href="#" style="font-weight: bold; text-decoration: none;">{{ i.titulo }}</a> <span class="badge"><a href="/Editar/{{ i.id }}/" style="color: white; text-decoration: none;"> Editar</a><a href="/Delete/{{i.id}}" style="color: #b0ca63; text-decoration: none;"> Excluir</a></span></li>
	      {% empty %}
	        <div class="row fontawesome-icon-list">
	          <div class="fa-hover col-md-12 col-sm-12 col-xs-12"><a href="/InsereDocumento/"><i class="fa fa-info-circle"></i> Sem Registro</a></div>
	        </div>
	    {% endfor %}
	  </ul>
	</div>
</div>
	    
<div class="col-sm-4 center">
	{% if lista.has_other_pages %}
	  <ul class="pagination">
	    {% if lista.has_previous %}
	      <li><a href="?page={{ lista.previous_page_number }}">&laquo;</a></li>
	    	{% else %}
	      	<li class="disabled"><span>&laquo;</span></li>
	    {% endif %}
	    {% for i in lista.paginator.page_range %}
	      {% if lista.number == i %}
	        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	        {% else %}
	          <li><a href="?page={{ i }}">{{ i }}</a></li>
	      {% endif %}
	    {% endfor %}
	    {% if lista.has_next %}
	      <li><a href="?page={{ lista.next_page_number }}">&raquo;</a></li>
	      {% else %}
	       	<li class="disabled"><span>&raquo;</span></li>
	    {% endif %}
	  </ul>
	{% endif %}
</div>
{% endblock %}