{%extends 'apps/baseAPP.html'%}
{%block noticias%} 
	<h2>O que é o Sei?</h2>
	<p style="text-align: justify-all;">
		O Sistema Eletrônico de Informações (SEI), desenvolvido pelo Tribunal Regional Federal da 4ª Região (TRF4), é uma plataforma que engloba um conjunto de módulos e funcionalidades que promovem a eficiência administrativa. Trata-se também de um sistema de gestão de processos e documentos eletrônicos, com interface amigável e práticas inovadoras de trabalho, tendo como principais características a libertação do paradigma do papel como suporte físico para documentos institucionais e o compartilhamento do conhecimento com atualização e comunicação de novos eventos em tempo real.

		O SEI foi escolhido como a solução de processo eletrônico no âmbito do projeto Processo Eletrônico Nacional (PEN), iniciativa conjunta de órgãos e entidades de diversas esferas da administração pública, com o intuito de construir uma infraestrutura pública de processos e documentos administrativos eletrônicos. Coordenado pelo Ministério do Planejamento, Orçamento e Gestão, o PEN proporciona a integração de diferentes esforços que já estavam em curso no âmbito do governo federal e objetiva a melhoria no desempenho dos processos da administração pública, com ganhos em agilidade, produtividade, transparência, satisfação do público usuário e redução de custos.

		Devido às características inovadoras do SEI e do sucesso da prática de cessão da ferramenta sem ônus para outras instituições, o SEI transcendeu a classificação de sistema eletrônico da Justiça Federal da 4ª Região, para galgar a posição de projeto estratégico para toda a administração pública, amparando-se em premissas altamente relevantes e atuais, tais como: a inovação, a economia do dinheiro público, a transparência administrativa, o compartilhamento do conhecimento produzido e a sustentabilidade. (Fonte: TRF4)

		Com a cessão gratuita do SEI, a economia do dinheiro público é incomensurável, uma vez que as instituições que o adotam deixam de gastar alguns milhões de dólares com a compra de soluções de mercado que, não raro, não solucionam as demandas para as quais são adquiridos. É a inovação advinda da implantação de uma cultura de socialização do conhecimento desenvolvido pela administração pública com os outros entes que a compõem. Se tal prática for mantida, será inegável que a gestão do orçamento público, a cada dia mais contingenciado, será sensivelmente mais racional. Não há mais espaço para aquisições milionárias quando há soluções gratuitas disponíveis. (Fonte: TRF4)
	</p>
	<h3>PRINCIPAIS CARACTERÍSTICAS E FACILIDADES DO SEI</h3>
	<p>
		Portabilidade: 100% Web e pode ser acessado por meio dos principais navegadores do mercado: Internet Explorer, Firefox e Google Chrome;

Acesso Remoto: em razão da portabilidade já mencionada, pode ser acessado remotamente por diversos tipos de equipamentos, como microcomputadores, notebooks, tablets e smartphones de vários sistemas operacionais (Windows, Linux, IOS da Apple e Android do Google). Isto possibilita que os usuários trabalhem a distância;

Acesso de usuários externos: gerencia o acesso de usuários externos aos expedientes administrativos que lhes digam respeito, permitindo que tomem conhecimento do teor do processo e, por exemplo, assinem remotamente contratos e outros tipos de documentos;

Controle de nível de acesso: gerencia a criação e o trâmite de processos e documentos restritos e sigilosos, conferindo o acesso somente às unidades envolvidas ou a usuários específicos;

Tramitação em múltiplas unidades: incorpora novo conceito de processo eletrônico, que rompe com a tradicional tramitação linear, inerente à limitação física do papel. Deste modo, várias unidades podem ser demandadas simultaneamente a tomar providências e manifestar-se no mesmo expediente administrativo, sempre que os atos sejam autônomos entre si;

Funcionalidades específicas: controle de prazos, ouvidoria, estatísticas da unidade, tempo do processo, base de conhecimento, pesquisa em todo teor, acompanhamento especial, inspeção administrativa, modelos de documentos, textos padrão, sobrestamento de processos, assinatura em bloco, organização de processos em bloco, acesso externo, entre outros;

Sistema intuitivo: estruturado com boa navegabilidade e usabilidade.


	</p>
{%endblock%}